<mat-card class="h-100">
  <mat-card-header class="m-0">
    <mat-card-title>{{ service.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ service.price | currency: "XAF":"symbol":"3.2-2":"fr" }} /month
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ service.description }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <ng-container *ngIf="!(user?.role === 'admin')">
      <button (click)="openModalToSubscribe()" mat-button>SUBSCRIBE</button>
    </ng-container>
    <ng-container *ngIf="user?.role === 'admin'">
      <button mat-button color="accent">UPDATE</button>
      <button mat-button color="warn">DELETE</button>
    </ng-container>
  </mat-card-actions>
</mat-card>
