<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="p-5">
    <div>
      <div
        fxLayout="row"
        class="pb-3"
        fxLayoutAlign="space-around center"
        fxLayoutGap="1rem"
      >
        <a
          *ngIf="false"
          (click)="drawer.close()"
          [routerLink]="'/'"
          class="text-decoration-none text-default fs-4"
        >
          <span class="fw-bold">Felicity SAS Front</span>
        </a>
      </div>
      <div
        fxLayout="column"
        fxFill
        class="pt-3 pb-3"
        fxLayoutGap="0.5rem"
        fxLayoutAlign="center stretch"
      >
        <button
          [routerLink]="'/services'"
          [routerLinkActive]="'text-dark bg-white'"
          class="px-4 py-1"
          mat-button
          (click)="drawer.close()"
        >
          Services
        </button>
        <button
          *ngIf="user$ | async"
          (click)="drawer.close()"
          [routerLink]="['/profile']"
          [routerLinkActive]="'text-dark bg-white'"
          class="px-4 py-1"
          mat-button
        >
          Profile
        </button>
        <button
          *ngIf="!(user$ | async)"
          (click)="drawer.close()"
          [routerLink]="['/auth']"
          [routerLinkActive]="'text-dark bg-white'"
          class="px-4 py-1"
          mat-button
        >
          Login
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <main [style]="{ justifyContent: 'center' }" class="app-component">
      <app-header
        [user]="user$ | async"
        [drawer]="drawer"
        style="position: fixed"
        class="w-100"
      ></app-header>
      <div class="content homeContainer">
        <router-outlet
          *ngIf="!(!(user$ | async) && (userLoading$ | async))"
        ></router-outlet>
        <app-loader *ngIf="!(user$ | async) && (userLoading$ | async)">
        </app-loader>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
